.categories {
  width: 100%;
  display: flex;
  height: auto;
  flex-flow: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}
.category__group {
  display: inline;
  clear: both;
  height: auto;
  justify-content: flex-start;
  flex-direction: row;
}
.category-item {
}
