.Category__Card {
  padding: 10px 0 15px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin: 25px 15px;
}

.card-img-top {
  width: 100%;
  display: block;
  width: 200px;
  height: 150px;
  border-radius: 8px;
  margin-right: 16px;
}

.Category__name {
  text-align: center;
  margin: 22px;
  font-size: 20px;
  color: rgb(72, 73, 74);
  font-weight: bold;
}
