.footer {
  background-color: rgb(24, 24, 24);
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.footer__copyright {
  padding-top: 1rem;
  color: gainsboro;
  font-size: 0.8rem;
}

.footer__text {
  padding: 0.2rem 0 0.5rem 0;
  color: gainsboro;
  font-size: 0.8rem;
}

.footer__date {
  align-self: stretch;
  text-align: center;
  background-color: gray;
  padding: 0.5rem;
  color: whitesmoke;
  font-size: 0.7rem;
}
