/*Nav*/
.navigation-greeting-wrapper {
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

/*Profile*/
#profile-page {
  display: grid;
  justify-content: center;
  align-items: center;
}

#profile-page-wrapper {
  display: flex;
  width: 100vw;
  background-color: #fdf6ec;
}

.profile-page___form {
  min-height: 500px;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  #profile-page-wrapper {
    display: block;
  }
}
