.SideBar {
  width: 150px;
  min-height: 600px;
  background-color: #1e2931;
  z-index: 10;
}
.sidebar--link {
  display: flex;
  padding: 40px 35px;
  color: rgb(116, 116, 116);
  text-decoration: none;
  font-size: 20px;
}
.sidebar--link:hover {
  background-color: #2d3236;
  color: rgb(193, 190, 190);
}
.active {
  background-color: #212224;
  color: white;
}

@media only screen and (max-width: 768px) {
  .SideBar {
    display: flex;
    flex-direction: row;
    background-color: #5e7268;
    z-index: 10;
    min-height: unset;
    height: 80px;
    font-size: 16px;
    width: unset;
  }
  .active {
    background-color: #56605b;
  }
  .sidebar--link {
    color: rgb(255, 248, 248);
    font-size: 16px;
    text-align: center;
    padding: 0 auto;
  }
}
