#signup-page img {
  height: 42px;
  width: auto;
  margin: var(--space-medium);
}

#signup-page {
  background-color: rgb(216, 216, 213);
  width: 100vw;
  height: 100vh;
  display: block;
}
#signup-page .auth-content {
  display: grid;
  justify-content: center;
  align-items: center;
}
#signup-page small {
  color: gray;
}
#signup-page h2 {
  margin-bottom: 10px;
  font-weight: bold;
}
#signup-page a {
  color: rgb(54, 53, 53);
}

#signup-form {
  display: block;
}

#signup-page button {
  width: 200px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 5px;
  border: 1px solid red;
  margin-top: var(--space-small);
  margin-bottom: var(--space-medium);
}

#signup-page .auth-form {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  width: 300px;
  padding: 60px;
  background-color: rgb(255, 255, 255);
}

#signup-form small {
  margin-right: var(--space-small);
  font-size: 16px;
}

#signup-form p {
  color: orange;
  margin-top: 0;
}

#signup-page h1 {
  margin-top: 0;
}

#signup-page .input-field input {
  background-color: white;
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding-left: var(--space-medium);
  margin-bottom: var(--space-medium);
  border-radius: 5px;
  color: #393838;
  border: 1px solid #bbb4b4;
}
